*.iml
.gradle
/local.properties
.DS_Store
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/*
/smtp/build/*
/.serena/*
keystore.properties
keystore/
/firebase-debug.log
/refactoring.md
/app/release/app-release.aab
