*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/AndroidProjectSystem.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/markdown.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/model/Email$Companion.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/model/Email.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$Companion.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$createSession$1.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$sendEmail$1.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$sendEmail$2.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$testConnection$1.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$testConnection$2.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/SmtpException.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/template/EmailTemplateBuilder.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/pe/brice/smtp/template/TemplatePreview.dex
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/transformed/bundleLibRuntimeToDirDebug/desugar_graph.bin
/smtp/build/.transforms/94864f26d650554d2f0a49674db9d936/results.bin
/smtp/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/AndroidManifest.xml
/smtp/build/intermediates/aapt_friendly_merged_manifests/debug/processDebugManifest/aapt/output-metadata.json
/smtp/build/intermediates/aar_main_jar/debug/syncDebugLibJars/classes.jar
/smtp/build/intermediates/aar_metadata/debug/writeDebugAarMetadata/aar-metadata.properties
/smtp/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
/smtp/build/intermediates/annotations_typedef_file/debug/extractDebugAnnotations/typedefs.txt
/smtp/build/intermediates/compile_library_classes_jar/debug/bundleLibCompileToJarDebug/classes.jar
/smtp/build/intermediates/compile_r_class_jar/debug/generateDebugRFile/R.jar
/smtp/build/intermediates/compile_symbol_list/debug/generateDebugRFile/R.txt
/smtp/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/smtp/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/smtp/build/intermediates/incremental/debug-mergeJavaRes/merge-state
/smtp/build/intermediates/incremental/mergeDebugAssets/merger.xml
/smtp/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/smtp/build/intermediates/incremental/mergeDebugShaders/merger.xml
/smtp/build/intermediates/java_res/debug/processDebugJavaRes/out/META-INF/smtp_debug.kotlin_module
/smtp/build/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
/smtp/build/intermediates/manifest_merge_blame_file/debug/processDebugManifest/manifest-merger-blame-debug-report.txt
/smtp/build/intermediates/merged_java_res/debug/mergeDebugJavaResource/feature-smtp.jar
/smtp/build/intermediates/merged_manifest/debug/processDebugManifest/AndroidManifest.xml
/smtp/build/intermediates/navigation_json/debug/extractDeepLinksDebug/navigation.json
/smtp/build/intermediates/nested_resources_validation_report/debug/generateDebugResources/nestedResourcesValidationReport.txt
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/META-INF/smtp_debug.kotlin_module
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/model/Email$Companion.class
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/model/Email.class
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$Companion.class
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$createSession$1.class
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$sendEmail$1.class
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$sendEmail$2.class
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$testConnection$1.class
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender$testConnection$2.class
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/MailSender.class
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/sender/SmtpException.class
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/template/EmailTemplateBuilder.class
/smtp/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/pe/brice/smtp/template/TemplatePreview.class
/smtp/build/intermediates/symbol_list_with_package_name/debug/generateDebugRFile/package-aware-r.txt
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.keystream.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab_i.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.at
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab_i.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/counters.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.keystream.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab.values.at
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/file-to-id.tab_i.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.keystream.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab.values.at
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.at
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i
/smtp/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab_i.len
/smtp/build/kotlin/compileDebugKotlin/cacheable/last-build.bin
/smtp/build/kotlin/compileDebugKotlin/classpath-snapshot/shrunk-classpath-snapshot.bin
/smtp/build/kotlin/compileDebugKotlin/local-state/build-history.bin
/smtp/build/outputs/aar/smtp-debug.aar
/smtp/build/outputs/logs/manifest-merger-debug-report.txt
/smtp/build/tmp/kotlin-classes/debug/META-INF/smtp_debug.kotlin_module
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/model/Email$Companion.class
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/model/Email.class
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/sender/MailSender$Companion.class
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/sender/MailSender$createSession$1.class
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/sender/MailSender$sendEmail$1.class
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/sender/MailSender$sendEmail$2.class
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/sender/MailSender$testConnection$1.class
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/sender/MailSender$testConnection$2.class
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/sender/MailSender.class
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/sender/SmtpException.class
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/template/EmailTemplateBuilder.class
/smtp/build/tmp/kotlin-classes/debug/pe/brice/smtp/template/TemplatePreview.class
/.serena/memories/completion_guidelines.md
/.serena/memories/project_overview.md
/.serena/memories/style_and_conventions.md
/.serena/memories/suggested_commands.md
/.serena/memories/tech_stack.md
/.serena/.gitignore
/.serena/project.yml
keystore.properties
keystore/
/firebase-debug.log
/refactoring.md
